.amazon-reviews {
  .reviewer {
    color: #444;
    text-decoration: underline;
    font-size: x-small;
  }

  .review {
    color: #444;
    font-size: small;
    margin: 8px 0;
    text-align: justify;
  }

  .amazon-review {
    margin-bottom: 30px;
  }
}
