each group in groups
  .attributes-list.container.card
      h5 #{group}
        each attr, i in attributes.filter( function(a) {return group == a['attribute-group-name']} )
          .row.attribute-row
            .col-5 #{attr['attribute-name']}
            .col-7 #{attr['attribute-value']}
