.product-card.container
    h5.title Product #{name}
    img(src=image).rounded.mx-auto.d-block.img-thumbnail

    .price-box.container
        .row
            .col-2.price-color-label Preis:
            .col-10.price-color-value EUR #{price}

    #{_data}
