.product-card.container
    h5.title Product #{name}
    img(src=image).rounded.mx-auto.d-block.img-thumbnail

    .price-box.container
        .row
            .col-4.price-color-label Preis:
            .col-8
                .price-color-value EUR #{price}
        .row
            .col-4.price-color-label Mit Apprabatt:
            .col-8
                .price-color-value EUR #{appPrice}              
                .disclaimer Alle Angabe inkl. MwSt.
              
