.youtube-video.container
    h5.title YouTube
    
    each id in ids
      p 
        iframe(
          width="100%" 
          height="300px" 
          src='http://www.youtube.com/embed/'+id
          frameborder="0" 
          allowfullscreen)
