.app
  .header.site-header.sticky-top.py-1
    img(src='./public/images/headerLogo.svg')
  
  if productData
    .card!= productData
  if productAtributes
    .card!= productAtributes
  if priceComparison
    .card!= priceComparison
  if youtubeVideo
    .card!= youtubeVideo
    
